<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DraggableImageForm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE11B5371DF1BE5700EE9E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE11B54B1DF1BE5700EE9E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE11B5561DF1BE5700EE9E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
